<template>
  <div style="text-align: center">
    <h1 >Points: {{correctAnswers * 10}}</h1>
    <p>{{correctAnswers}} of {{questionList.length}}</p>

    <TriviaResultCard :question-list="questionList" :user-answer-list="usersAnswers"></TriviaResultCard>

    <br><br>
    <div>
      <button @click="backToMain">Back To Main
        <i class="fas fa-home fa-sm"></i>
      </button>
      <button @click="toScoreboard">Scoreboard
        <i class="fas fa-crown fa-sm" ></i>
      </button>
      <button @click="toReplay">Replay
        <i class="fas fa-redo fa-sm"></i>
        </button>
    </div>
  </div>
</template>

<script>
import TriviaResultCard from "@/components/TriviaResultCard";
import {mapState} from "vuex";

export default {
  name: "Result",
  components: {TriviaResultCard},

  computed: {
    ...mapState(['questionList', 'correctAnswers', 'usersAnswers'])
  },

  methods: {
    backToMain() {
      this.$router.push("/");
    },

    toReplay() {
      this.$store.commit('triviaLock', true)
      this.$store.commit('resetForNewGame');
      this.$router.push("/game");
      this.$store.commit('triviaLock', false)
    },

    toScoreboard() {
      this.$store.commit('scoreboardLock', true)
      this.$router.push("/score");
      this.$store.commit('scoreboardLock', false)
    }
  },
}
</script>

<style scoped>
  button{
    padding: 2% 5%;
    margin: 1%;
    font-size: 1.5rem;
    font-weight: 700;
    color: #184B29;
    background-color: #EAEDF0;
    border: 2px solid #627E8B;
    border-radius: 0.3em;
  }

  button:hover {
    color: rgb(37, 119, 65);
    background-color: #d1d5d8;
    border: 2px solid #566f7a;
  }

  button:nth-child(1) {
    background-color: #627E8B;
    color: white;
  }

  button:nth-child(2) {
    background-color: #69628b;
    color: white;
  }

  button:nth-child(3) {
    background-color: #0e7035;
    color: white;
  }

</style>